@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200&family=EB+Garamond&display=swap');

:root {
    --fundo_principal_1: #844629;
    --fundo_principal_2: #997868;
    --cor_principal: #eee8df;
    --cor_secundaria: #8c492b;
    --cor_terciaria: #d17c4f;
    --cor_quataria: #c4ae98;
}


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-weight: normal;
}

html {
    scroll-behavior: smooth;
}

body {
    padding-top: 150px;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background: -webkit-linear-gradient(top,
            #844629,
            #844629 40%,
            #997868 40%,
            #997868);
}


.container {
    width: 80%;
    height: auto;
    position: relative;
    background-color: var(--cor_principal);
}

.titulo {
    font-family: 'Dosis', sans-serif;

}

.titulo h1 {
    display: flex;
    justify-content: center;
    padding-top: 15px;
    font-size: 60px;

    color: var(--fundo_principal_2);
}

.titulo p {
    display: flex;
    justify-content: center;
    padding-bottom: 15px;
    font-size: 12px;
    text-transform: uppercase;
    color: var(--fundo_principal_2);
}

.inicio {
    position: relative;
}

.inicio img {
    width: 100%;
    height: 80vh;
}

.inicio-texto {
    position: absolute;
    top: 110px;
    right: 970px;
    max-width: 25vw;
    font-family: 'EB Garamond', serif;
    color: black;
}

.inicio-texto h1 {
    font-size: 90px;
    padding-bottom: 20px;
    font-weight: 500;
}

.inicio-texto p {
    font-size: 30px;
    padding-bottom: 30px;
}

.inicio-texto a {
    text-decoration: none;
    color: black;
    background-color: var(--cor_terciaria);
    padding: 12px 25px 12px 25px;
}

@media (max-width:669px) {
    .container {
        width: 96%;
        height: auto;
        position: relative;
        background-color: var(--cor_principal);
    }

    .inicio img {
        width: 100%;
        height: 50vh;
    }

    .inicio-texto {
        position: absolute;
        top: 50px;
        right: 100px;
        max-width: none;
        font-family: 'EB Garamond', serif;
        color: black;
    }

    .inicio-texto h1 {
        font-size: 30px;
        padding-bottom: 20px;
        font-weight: 500;
    }

    .inicio-texto p {
        font-size: 20px;
        padding-bottom: 30px;
    }

    .inicio-texto a {
        text-decoration: none;
        color: black;
        background-color: var(--cor_terciaria);
        padding: 12px 25px 12px 25px;
    }


}

@media (max-width:1500px) and (min-width:670px) {
    .container {
        width: 96%;
        height: auto;
        position: relative;
        background-color: var(--cor_principal);
    }

    .inicio img {
        width: 100%;
        height: 80vh;
    }

    .inicio-texto {
        position: absolute;
        top: 130px;
        right: 450px;
        padding-left: 50px;
        max-width: 30vw;
        font-family: 'EB Garamond', serif;
        color: black;
    }

    .inicio-texto h1 {
        font-size: 40px;
        padding-bottom: 20px;
        font-weight: 500;
    }

    .inicio-texto p {
        font-size: 20px;
        padding-bottom: 30px;
    }

    .inicio-texto a {
        text-decoration: none;
        color: black;
        background-color: var(--cor_terciaria);
        padding: 12px 25px 12px 25px;
    }

}

@media (max-height:660px) {
    .inicio img {
        width: 100%;
        height: 100vh;
    }

    .inicio-texto {
        position: absolute;
        top: 50px;
        right: 500px;
        max-width: none;
        font-family: 'EB Garamond', serif;
        color: black;
    }

}

@media (max-height:375px) {
    .inicio-texto h1 {
        font-size: 20px;
        padding-bottom: 20px;
        font-weight: 500;
    }

    .inicio-texto p {
        font-size: 15px;
        padding-bottom: 30px;
    }

    .inicio-texto a {
        text-decoration: none;
        color: black;
        background-color: var(--cor_terciaria);
        padding: 10px 15px 10px 15px;
    }
}

.empreendimento {
    background-color: var(--cor_principal);
}

.empreendimento img {
    width: 60%;
    height: 70vh;
    float: right;
    padding-bottom: 50px;
    padding-top: 50px;
}

.empree-texto {
    position: absolute;
    top: 1050px;
    right: 850px;
    background-color: var(--cor_terciaria);
    font-family: 'EB Garamond', serif;
    width: 25vw;
    padding-left: 50px;
    padding-right: 50px;
}

.empree-texto h1 {
    padding-top: 55px;
    font-size: 35px;
    font-weight: 500;
}

.empree-texto p {
    padding-top: 25px;
}

.empree-texto p:nth-child(3) {
    padding-bottom: 55px;
}

@media (max-width:669px) {
    .empreendimento img {
        width: 100%;
        height: 40vh;
        float: none;
        padding-bottom: 5px;
        padding-top: 5px;
    }

    .empree-texto {
        position: unset;
        background-color: var(--cor_terciaria);
        font-family: 'EB Garamond', serif;
        width: 100%;
        padding-left: 50px;
        padding-right: 50px;
    }
}

@media (max-width:1000px) and (min-width:670px) {
    .empreendimento img {
        width: 70%;
        height: 70vh;
        float: right;
        padding-bottom: 25px;
        padding-top: 25px;
    }

    .empree-texto {
        position: absolute;
        top: 800px;
        right: 400px;
        background-color: var(--cor_terciaria);
        font-family: 'EB Garamond', serif;
        width: 35vw;
        padding-left: 0px;
        padding-right: 0px;
    }
}

@media (max-width:1200px) and (min-width:1001px) {
    .empreendimento img {
        width: 70%;
        height: 70vh;
        float: right;
        padding-bottom: 25px;
        padding-top: 25px;
    }

    .empree-texto {
        position: absolute;
        top: 900px;
        right: 600px;
        background-color: var(--cor_terciaria);
        font-family: 'EB Garamond', serif;
        width: 35vw;
        padding-left: 0px;
        padding-right: 0px;
    }
}

@media (max-width:1900px) and (min-width:1201px) {
    .empreendimento img {
        width: 70%;
        height: 70vh;
        float: right;
        padding-bottom: 25px;
        padding-top: 25px;
    }

    .empree-texto {
        position: absolute;
        top: 900px;
        right: 900px;
        background-color: var(--cor_terciaria);
        font-family: 'EB Garamond', serif;
        width: 30vw;
        padding-left: 0px;
        padding-right: 0px;
    }
}

@media (max-height:1200px) and (min-height:1100px) {
    .empreendimento img {
        width: 70%;
        height: 60vh;
        float: right;
        padding-bottom: 25px;
        padding-top: 25px;
    }

    .empree-texto {
        position: absolute;
        top: 1200px;
        right: 400px;
        background-color: var(--cor_terciaria);
        font-family: 'EB Garamond', serif;
        width: 35vw;
        padding-left: 0px;
        padding-right: 0px;
    }
}

@media (max-height:1099px) and (min-height:950px) {
    .empreendimento img {
        width: 70%;
        height: 60vh;
        float: right;
        padding-bottom: 25px;
        padding-top: 25px;
    }

    .empree-texto {
        position: absolute;
        top: 1100px;
        right: 400px;
        background-color: var(--cor_terciaria);
        font-family: 'EB Garamond', serif;
        width: 40vw;
        padding-left: 0px;
        padding-right: 0px;
    }
}

@media (max-height:1400px) and (min-height:1300px) {
    .empreendimento img {
        width: 70%;
        height: 60vh;
        float: right;
        padding-bottom: 25px;
        padding-top: 25px;
    }

    .empree-texto {
        position: absolute;
        top: 1450px;
        right: 500px;
        background-color: var(--cor_terciaria);
        font-family: 'EB Garamond', serif;
        width: 35vw;
        padding-left: 0px;
        padding-right: 0px;
    }
}

@media (max-height:450px) and (min-height:380px) {
    .empreendimento img {
        width: 70%;
        height: 100vh;
        float: right;
        padding-bottom: 25px;
        padding-top: 25px;
    }

    .empree-texto {
        position: absolute;
        top: 550px;
        right: 500px;
        background-color: var(--cor_terciaria);
        font-family: 'EB Garamond', serif;
        width: 35vw;
        padding-left: 0px;
        padding-right: 0px;
    }
}

@media (max-height:649px) and (min-height:500px) {
    .empreendimento img {
        width: 70%;
        height: 100vh;
        float: right;
        padding-bottom: 25px;
        padding-top: 25px;
    }

    .empree-texto {
        position: absolute;
        top: 850px;
        right: 600px;
        background-color: var(--cor_terciaria);
        font-family: 'EB Garamond', serif;
        width: 30vw;
        padding-left: 0px;
        padding-right: 0px;
    }
}

@media (max-height:379px) and (min-height:270px) {
    .empreendimento img {
        width: 70%;
        height: 100vh;
        float: right;
        padding-bottom: 25px;
        padding-top: 25px;
    }

    .empree-texto {
        position: absolute;
        top: 520px;
        right: 330px;
        background-color: var(--cor_terciaria);
        font-family: 'EB Garamond', serif;
        width: 45vw;
        padding-left: 0px;
        padding-right: 0px;
    }
}

.especificacao {
    width: 100%;
    height: auto;
    position: relative;
    padding-top: 750px;
}

.espe-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.espe-texto {
    font-family: 'EB Garamond', serif;
    padding-left: 25px;
}

.espe-texto i {
    color: var(--cor_secundaria);
    font-size: 80px;
    padding-left: 70px;
}

.espe-texto p {
    color: var(--cor_terciaria);
    font-size: 25px;
}

@media (max-width:669px) {
    .especificacao {
        width: 100%;
        height: auto;
        position: relative;
        padding-top: 50px;
    }

    .espe-container {
        display: flex;
        flex-direction: column;
    }
}

@media (max-height:380px) {
    .especificacao {
        width: 100%;
        height: auto;
        position: relative;
        padding-top: 350px;
    }
}

.espe-video {
    padding-top: 50px;
    text-align: center;
}

.espe-video i {
    position: absolute;
    font-size: 120px;
    color: var(--cor_terciaria);
    top: 80%;
    left: 50%;
    z-index: 1;
}

@media (max-width:669px) {
    .espe-video {
        height: 100%;
    }

    .espe-video i {
        font-size: 60px;
        top: 90%;
    }
}

@media (max-width:1100px) and (min-width:670px) {
    .espe-video {
        height: 100%;
    }

    .espe-video i {
        font-size: 90px;
        top: 85%;
    }
}

.infraestrutura {
    width: 100%;
    height: auto;
    position: relative;
    padding-top: 50px;
    padding-bottom: 50px;
}

.infraestrutura img {
    width: 65%;
    height: 60vh;
}

.infra-texto {
    background-color: var(--cor_terciaria);
    width: 25vw;
    font-family: 'EB Garamond', serif;
    padding-left: 50px;
    padding-top: 30px;
    padding-right: 50px;
    padding-bottom: 50px;
    position: absolute;
    top: 25%;
    left: 60%;
}

.infra-texto h1 {
    font-size: 50px;
}

.infra-texto p {
    font-size: 18px;
}

@media (max-width:669px) {
    .infraestrutura {
        padding-bottom: 0px;
    }

    .infraestrutura img {
        width: 100%;
        height: 50vh;
    }

    .infra-texto {
        background-color: var(--cor_terciaria);
        width: 100%;
        font-family: 'EB Garamond', serif;
        padding-left: 0px;
        padding-top: 0px;
        padding-right: 0px;
        padding-bottom: 0px;
        position: unset;
        top: 0;
        left: 0;
    }

}

@media (max-width:1500px) and (min-width:670px) {
    .infra-texto {
        background-color: var(--cor_terciaria);
        width: 40vw;
        font-family: 'EB Garamond', serif;
        padding-left: 20px;
        padding-top: 15px;
        padding-right: 20px;
        padding-bottom: 15px;
        position: absolute;
        top: 15%;
        left: 50%;
    }
}

@media (max-height:600px) and (min-height:350px) {
    .infra-texto {
        background-color: var(--cor_terciaria);
        width: 40vw;
        font-family: 'EB Garamond', serif;
        padding-left: 20px;
        padding-top: 15px;
        padding-right: 20px;
        padding-bottom: 15px;
        position: absolute;
        top: 15%;
        left: 50%;
    }

    .infraestrutura img {
        width: 65%;
        height: 100vh;
    }
}

.galeria {
    width: 100%;
    height: auto;
    position: relative;
}

.galeria-secundaria {
    display: grid;
    grid-template-columns: auto auto;
    padding-top: 20px;
    padding-bottom: 20px;
}

.img-principal img {
    width: 90%;
    height: 50vh;
    padding-left: 200px;
}

.img-principal p {
    font-size: 18px;
    font-family: 'EB Garamond', serif;
    color: var(--cor_secundaria);
    display: flex;
    align-items: center;
    justify-content: center;
}


.img-secundario img {
    width: 35vw;
    height: 25vh;
    padding-left: 130px;
}

.img-secundario p {
    font-size: 18px;
    font-family: 'EB Garamond', serif;
    color: var(--cor_secundaria);
    display: flex;
    align-items: center;
    justify-content: center;
}

@media (max-width:669px) {
    .galeria {
        padding-top: 20px;
    }

    .galeria-secundaria {
        display: flex;
        flex-direction: column;
        padding-top: 20px;
        padding-bottom: 20px;
    }

    .img-principal img {
        width: 100%;
        height: 25vh;
        padding-left: 0px;
    }

    .img-secundario img {
        width: 80vw;
        height: 25vh;
        padding-left: 70px;
        padding-top: 20px;
    }


}

@media (max-width:1500px) and (min-width:670px) {
    .img-principal img {
        width: 90%;
        height: 50vh;
        padding-left: 50px;
    }

    .img-secundario img {
        width: 45vw;
        height: 25vh;
        padding-left: 30px;
    }
}

@media (max-height:380px) {
    .img-principal img {
        width: 90%;
        height: 70vh;
        padding-left: 50px;
    }

    .img-secundario img {
        width: 65vw;
        height: 45vh;
        padding-left: 200px;
    }
}

.detalhes {
    width: 100%;
    height: auto;
    position: relative;
}

.detalhes h1 {
    font-size: 40px;
    font-weight: bold;
    font-family: 'EB Garamond', serif;
    color: var(--cor_secundaria);
    padding-bottom: 30px;
    padding-top: 30px;
    display: flex;
    justify-content: center;
}

.detalhes p {
    font-size: 20px;
    font-family: 'EB Garamond', serif;
    color: var(--cor_secundaria);
}

.detalhes i {
    font-size: 25px;
    color: var(--cor_terciaria);
}

.checklist {
    display: grid;
    grid-template-columns: auto auto;
    padding-left: 300px;
    padding-bottom: 50px;
}

.checklist p {
    padding-top: 20px;
}

@media (max-width:669px) {
    .detalhes h1 {
        font-size: 25px;
    }

    .detalhes p {
        font-size: 15px;
    }

    .detalhes i {
        font-size: 20px;
    }

    .checklist {
        display: flex;
        flex-direction: column;
        padding-left: 20px;
        padding-bottom: 50px;
    }
}

@media (max-width:1500px) and (min-width:670px) {
    .checklist {
        padding-left: 100px;
    }
}

.reforco {
    width: 100%;
    height: auto;
    position: relative;
    font-family: 'EB Garamond', serif;
    display: flex;
    justify-content: center;
    padding-bottom: 100px;
}

.reforco-container {
    width: 50%;
    height: 35vh;
    position: relative;
    background-color: var(--fundo_principal_2);
    font-family: 'EB Garamond', serif;
    padding-left: 50px;
    padding-top: 50px;
}

.reforco h1 {
    font-size: 40px;
    font-weight: 500;
    color: white;
}

.reforco p {
    font-size: 20px;
    color: white;
    padding-bottom: 15px;
}

.reforco p:nth-child(3) {
    padding-top: 25px;
}

.reforco a {
    text-decoration: none;
    color: black;
    background-color: var(--cor_terciaria);
    padding: 10px 10px 10px 10px;
}

@media (max-width:669px) {
    .reforco {
        display: unset;
    }

    .reforco-container {
        width: 100%;
        height: 70vh;
        position: relative;
        background-color: var(--fundo_principal_1);
        font-family: 'EB Garamond', serif;
        padding-left: 25px;
        padding-top: 25px;
    }

}

@media (max-width:1500px) and (min-width:670px) {
    .reforco {
        width: 100%;
        height: auto;
        position: relative;
        font-family: 'EB Garamond', serif;
        display: flex;
        justify-content: center;
        padding-bottom: 100px;
    }

    .reforco-container {
        width: 50%;
        height: 55vh;
        position: relative;
        background-color: var(--fundo_principal_2);
        font-family: 'EB Garamond', serif;
        padding-left: 50px;
        padding-top: 50px;
    }
}

@media (max-height:600px) and (min-height:350px) {
    .reforco-container {
        width: 100%;
        height: 100%;
        position: relative;
        background-color: var(--fundo_principal_2);
        font-family: 'EB Garamond', serif;
        padding-left: 50px;
        padding-top: 20px;
        padding-bottom: 20px;
    }
}

.opinioes {
    width: 100%;
    height: auto;
    position: relative;
    font-family: 'EB Garamond', serif;
}

.opinioes h1 {
    color: var(--cor_secundaria);
    font-size: 50px;
    font-weight: 800;

}

.op-titulo h1:nth-child(1) {
    display: flex;
    justify-content: center;
}

.op-titulo h1:nth-child(2) {
    display: flex;
    justify-content: center;
    padding-bottom: 20px;
}


.opinioes .opiniao-caixa h1 {
    color: var(--fundo_principal_2);
    font-size: 65px;
}

.opiniao-caixa {
    font-size: 20px;
    color: var(--cor_terciaria);
}

.opiniao-caixa p:nth-child(4) {
    font-weight: bold;
    color: var(--fundo_principal_1);
}

.opiniao-caixa p:nth-child(6) {
    font-weight: bold;
    color: var(--fundo_principal_1);
}



.opinioes-container {
    position: relative;
    padding: 15px;
    max-width: 50vw;
    margin: 0 auto;
}

.wrapper-galeria {
    overflow-x: auto;
}

.galeria2 {
    display: flex;
    flex-direction: row nowrap;
    gap: 15px;
}


.arrow-left,
.arrow-right {
    position: absolute;
    top: 0;
    left: 0;
    right: auto;
    bottom: 0;
    font-size: 20px;
    line-height: 250px;
    width: 40px;
    text-align: center;
    color: var(--cor_secundaria);
    cursor: pointer;
    border: none;
    background: linear-gradient(to left, transparent 0%, var(--cor_terciaria) 200%);
    opacity: 0.1;
    transition: all 600ms ease-in-out;
}

.arrow-right {
    position: absolute;
    left: auto;
    right: 0;
    background: linear-gradient(to right, transparent 0%, var(--cor_terciaria) 200%);
}

.arrow-left:hover,
.arrow-right:hover {
    opacity: 1;
}

.item {
    width: 450px;
    height: 500px;
    flex-shrink: 0;
    opacity: 0.6;
    transition: all 600ms ease-in-out;
}

.current-item {
    opacity: 1;
}

.wrapper-galeria::-webkit-scrollbar {
    display: none;
}


.wrapper-galeria {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

@media (max-width:669px) {
    .opinioes-container {
        position: relative;
        padding: 15px;
        max-width: 80vw;
        margin: 0 auto;
    }

    .opinioes h1 {
        color: var(--cor_secundaria);
        font-size: 30px;
        font-weight: 800;

    }

    .opiniao-caixa {
        font-size: 15px;
        color: var(--cor_terciaria);
    }

    .item {
        width: 225px;
        height: 500px;
        flex-shrink: 0;
        opacity: 1;
        transition: all 600ms ease-in-out;
    }
}

@media (max-width:1500px) and (min-width:670px) {
    .opinioes-container {
        position: relative;
        padding: 15px;
        max-width: 65vw;
        margin: 0 auto;
    }
}

@media (max-height:380px) {
    .opinioes-container {
        position: relative;
        padding: 15px;
        max-width: 100vw;
        margin: 0 auto;
    }

    .item {
        width: 405px;
        height: 500px;
        flex-shrink: 0;
        opacity: 1;
        transition: all 600ms ease-in-out;
    }
}

.contato {
    width: 100%;
    height: auto;
    position: relative;
    font-family: 'EB Garamond', serif;
    padding-bottom: 100px;
    padding-top: 50px;
}

.contato-mensagem {
    background-image: url(./sources/cabelo.jpg);
    background-size: 50vw auto;
    background-repeat: no-repeat;
    width: 50vw;
    height: auto;
    color: #fff;
    padding-top: 100px;
    padding-bottom: 150px;
}

.contato-mensagem h1 {
    font-size: 60px;
    display: flex;
    justify-content: center;
}

.contato-mensagem p {
    font-size: 20px;
    display: flex;
    justify-content: center;
}

.formulario {
    background-color: var(--cor_secundaria);
    width: 25vw;
    padding-top: 50px;
    padding-bottom: 50px;
    position: absolute;
    top: 12%;
    left: 63%;
}

.formulario h1 {
    font-size: 40px;
    padding-bottom: 20px;
    display: flex;
    justify-content: center;
}

.formulario form{
    padding-left: 70px;
}

.formulario p {
    font-size: 20px;
}

.for-input {
    width: 15vw;
    padding: 5px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid var(--cor_secundaria);
    border-radius: 4px;
}

.for-btn {
    background-color: var(--cor_terciaria);
    border: none;
    color: #fff;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
    font-family: 'EB Garamond', serif;
    font-size: 20px;
}

@media (max-width:669px){
    .contato {
        width: 100%;
        height: auto;
        position: relative;
        font-family: 'EB Garamond', serif;
        padding-bottom: 100px;
        padding-top: 20px;
    }
    
    .contato-mensagem {
        background-image: url(./sources/cabelo.jpg);
        background-size: 100% 100%;
        background-repeat: no-repeat;
        width: 100%;
        height: auto;
        color: #fff;
        padding-top: 100px;
        padding-bottom: 50px;
    }
    
    .contato-mensagem h1 {
        font-size: 40px;
        display: flex;
        justify-content: center;
    }
    
    .contato-mensagem p {
        font-size: 20px;
        display: flex;
        justify-content: center;
    }
    .formulario {
        background-color: var(--cor_secundaria);
        width: 100%;
        padding-top: 0px;
        padding-bottom: 50px;
        position: unset;
    }

    .formulario h1 {
        font-size: 40px;
        padding-bottom: 20px;
        display: flex;
        justify-content: center;
    }
    
    .formulario form{
        padding-left: 0px;
    }
    
    .formulario p {
        font-size: 20px;
    }
    
    .for-input {
        width: 90%;
        padding: 5px 20px;
        margin: 8px 0;
        box-sizing: border-box;
        border: 2px solid var(--cor_secundaria);
        border-radius: 4px;
    }

    .for-btn {
        background-color: var(--cor_terciaria);
        border: none;
        color: #fff;
        padding: 12px 20px;
        text-decoration: none;
        margin: 4px 2px;
        cursor: pointer;
        font-family: 'EB Garamond', serif;
        font-size: 20px;
    }
}

@media (max-width:1500px) and (min-width:670px){
    .contato {
        width: 100%;
        height: auto;
        position: relative;
        font-family: 'EB Garamond', serif;
        padding-bottom: 100px;
        padding-top: 50px;
    }
    
    .contato-mensagem {
        background-image: url(./sources/cabelo.jpg);
        background-size: 100% auto;
        background-repeat: no-repeat;
        width: 55vw;
        height: auto;
        color: #fff;
        padding-top: 50px;
        padding-bottom: 150px;
    }
    
    .contato-mensagem h1 {
        font-size: 50px;
        display: flex;
        justify-content: center;
    }
    
    .contato-mensagem p {
        font-size: 20px;
        display: flex;
        justify-content: center;
    }

    .formulario {
        background-color: var(--cor_secundaria);
        width: 40vw;
        padding-top: 50px;
        padding-bottom: 50px;
        position: absolute;
        top: 12%;
        left: 58%;
    }
    
    .formulario h1 {
        font-size: 35px;
        padding-bottom: 20px;
        display: flex;
        justify-content: center;
    }
    
    .formulario form{
        padding-left: 20px;
    }
    
    .formulario p {
        font-size: 20px;
    }
    
    .for-input {
        width: 80%;
        padding: 5px 20px;
        margin: 8px 0;
        box-sizing: border-box;
        border: 2px solid var(--cor_secundaria);
        border-radius: 4px;
    }
    
    .for-btn {
        background-color: var(--cor_terciaria);
        border: none;
        color: #fff;
        padding: 16px 32px;
        text-decoration: none;
        margin: 4px 2px;
        cursor: pointer;
        font-family: 'EB Garamond', serif;
        font-size: 20px;
    }
}

.foo{
    width: 100%;
    height: auto;
    position: relative;
    font-family: 'Dosis', sans-serif;
    color: #fff;
    background-image: url(./sources/galeria9.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.foo h1{
    font-size: 150px;
}
.foo p{
    font-size: 30px;
}

.foo-con{
    padding-top: 150px;
    padding-bottom: 150px;
}

.foo-con h1{
    text-align: center;
}

.foo-con p{
    text-align: center;
}

footer{
    width: 100%;
    height: auto;
    position: relative;
    color: #fff;
    background-color: var(--cor_secundaria);
    font-family: 'EB Garamond', serif;
    text-align: center;
    font-size: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
}
